<launch>
    <arg name="map_filename" default="/home/xcy/aworkspace/catkin_simulator/src/basecontrol/map/mymap.pgm" />
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" clear_params="true">

        <rosparam file="$(find basecontrol)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find basecontrol)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find basecontrol)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find basecontrol)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find basecontrol)/config/move_base_params.yaml" command="load" />
        <rosparam file="$(find basecontrol)/config/dwa_local_planner_params.yaml" command="load" />
        <rosparam file="$(find basecontrol)/config/global_planner_params.yaml" command="load" />
        <remap from="map" to="map1" />
    </node>
    <node name="map_server" pkg="map_server" type="map_server" args="/home/xcy/aworkspace/catkin_simulator/src/basecontrol/map/mymap.yaml">
    <remap from="map" to="map1" />
    </node>
</launch>
